@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,body,#root 
{
    height: 100%;
    margin : 0;
}
.page
{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color : #c0392b;
    background-image : url('./imgs/bg_uno.png');
    background-repeat: no-repeat;
    background-size: cover;
        background-position: center;
    min-height: 100vh;
}

.wrapper
{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 14px;
    width: min(520px, 100%);
    justify-content: space-around;
    user-select: none;  
}

.top 
{
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
    gap : 14px;
}

.logo
{
    width: min(420px, 90%);
    max-height : 25vh;
    object-fit: contain;
    transform : scale(2);
    pointer-events: none;
}


.card 
{
    width : min(460px,100%);
    display: flex;
    flex-direction: column;
    gap : 14px;
    background-color : #ecf0f1;
    padding : 18px;
    border-radius: 10px;
}

.inputRow
{
    display : flex;
    align-items: center;
    gap : 12px;
    padding : 12px 12px;
    border-radius: 18px;
    border : none;
    background: transparent;
}

.icon
{
    width : 44px;
    height : 44px;
    border-radius: 14px;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color : #95a5a6;
    color: rgba(26,102,255,.95);
    font-size: 18px;
}

.input 
{
    flex : 1;
    border : none;
    outline : none;
    background : none;
    font-size: 16px;
    padding : 8px 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.input::placeholder 
{
    color : #ffffff;
    font-weight: 300;
}

.loginButton, .registerButton
{
    margin-top : 20px;
    width : 100%;
    padding : 14px;
    border : none;
    border-radius: 22px;
    color : #ffffff;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor : pointer;
    transition : background-color .3s ease;
    letter-spacing: -1px;
}

.loginButton 
{
    background-color : #27ae60;
}

.loginButton:hover
{
    background-color : #2ecc71;
}
.loginButton:active
{
    transform : scale(0.98);
}

.registerButton 
{
    background-color : #3498db;
}
.registerButton:hover
{
    background-color : #2980b9;
}
.registerButton:active
{
    transform : scale(0.98);
}

.signupText, .loginText
{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color : #2c3e50;
    margin-top : 20px;
}

.signupLink, .loginLink
{
    font-family: Inter, sans-serif;
    color : white;
    cursor: pointer;
    text-decoration: underline;
}

.bottom 
{
    display : flex;
    align-items: center;
    justify-content: center;
}

.tagline 
{
    font-family : Inter, sans-serif;
    font-size : 14px;
    color: white;
}

.msg,.msg_error
{
    font-family : Inter,sans-serif;
    font-weight: 500;
}
.msg 
{
    color : #44bd32;
}
.msg_error 
{
    color : #e84118;
}